CompileFlags:
  Add: [
    "-Wall",
    "-Wextra",
    "-Wpedantic",
    "-Wno-unknown-attributes",
    "-Wno-gnu-zero-variadic-macro-arguments",
    "-Wno-gnu-binary-literal",
    "-mmcu=avr128db28",
    "--target=avr",
    "-I", "C:/avr-gcc/avr/include"
  ]

  CompilationDatabase: .
